In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot
import seaborn as sns

https://www.kaggle.com/datasets/mohansacharya/graduate-admissions

In [13]:
df = pd.read_csv('./student_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [15]:
df.columns =df.columns.str.lower().str.replace(' ','_')

In [17]:
new_col_names = {'lor_':'lor', 'chance_of_admit_':'chance_of_admit'}

In [20]:
df=df.rename(columns = new_col_names)

In [24]:
df.isna().sum()

serial_no.           0
gre_score            0
toefl_score          0
university_rating    0
sop                  0
lor                  0
cgpa                 0
research             0
chance_of_admit      0
dtype: int64

In [25]:
n = len(df)

In [27]:
n_val = int(0.2 * n)
n_test = int(0.2 * n)
n_train = n - (n_val + n_test)
n, (n_train + n_val + n_test)

(400, 400)